body{
    font-family: Arial;

}

.todo-list-css,
.todo-input-grid{
    display: grid;
    grid-template-columns:200px 150px 100px ;
    column-gap:10px;
    row-gap: 10px;
    align-items: center;
}

.todo-input-grid{
    margin-bottom: 10px;
    align-items: stretch;
}

.name-input,
.date-input{
    font-size: 15px;
    padding: 5px;
}

.add-button{
    background-color: rgb(49, 171, 77);
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
.delete-button{
    background-color: rgb(154, 8, 8);
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding: 7%;
    cursor: pointer;
}