body{
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: arial;
}
.heading{
    font-size: 30px;
    font-weight: bold;
}
.moves-image{
    height: 50px;
    
}
.move-button{
    background-color: transparent;
    border: 2px solid white;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-bottom: 50px;

}
.results{
    
    font-size: 20px;
    font-family: airal;
    font-weight: bold;
}
.score{
    margin-top: 60px;
}
.reset-button,
.auto-play-button {
    background-color: white;
    padding: 10px 20px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
  
